import(stats)
import(jomo)
import(pan)

importFrom(graphics,abline,layout,par,plot,plot.new,axTicks,axis,lines,text,title)
importFrom(grDevices,dev.new,dev.off,devAskNewPage)
importFrom(utils,flush.console,tail,write.table)


export(panImpute,
       jomoImpute,
       mitmlComplete,
       clusterMeans,
       plot.mitml,
       read.mitml,
       summary.mitml,
       multilevelR2,
       testEstimates,
       testModels,
       testConstraints,
       with.mitml.list,
       within.mitml.list,
       long2mitml.list,
       jomo2mitml.list,
       mids2mitml.list,
       amelia2mitml.list,
       as.mitml.list,
       is.mitml.list,
       c.mitml.list,
       cbind.mitml.list,
       rbind.mitml.list,
       sort.mitml.list,
       subset.mitml.list,
       anova.mitml.result,
       confint.mitml.testEstimates,
       write.mitml,
       write.mitmlMplus,
       write.mitmlSAV,
       write.mitmlSPSS
      )

S3method(print,mitml)
S3method(plot,mitml)
S3method(summary,mitml)

S3method(print,mitml.summary)

S3method(c,mitml.list)
S3method(cbind,mitml.list)
S3method(rbind,mitml.list)
S3method(sort,mitml.list)
S3method(subset,mitml.list)
S3method(with,mitml.list)
S3method(within,mitml.list)

S3method(anova,mitml.result)
S3method(print,mitml.anova)

S3method(print,mitml.testEstimates)
S3method(summary,mitml.testEstimates)
S3method(confint,mitml.testEstimates)
S3method(print,mitml.testModels)
S3method(summary,mitml.testModels)
S3method(print,mitml.testConstraints)
S3method(summary,mitml.testConstraints)
