# Export all names
# exportPattern(".")
useDynLib(cmprsk)
export("crr","summary.crr","print.summary.crr","predict.crr",
  "plot.predict.crr","print.crr","cuminc","print.cuminc","timepoints",
  "plot.cuminc","[.cuminc")
#export("crr","cuminc","timepoints")
# Import all packages listed as Imports or Depends
import(
  survival
)
S3method(summary,crr)
S3method(print,crr)
S3method(print,summary.crr)
S3method(predict,crr)
S3method(print,cuminc)
S3method(plot,cuminc)
S3method('[',cuminc)
S3method(plot,predict.crr)
