### NAMESPACE

useDynLib(nloptr, NLoptR_Optimize)

## Public routines
export(nloptr, is.nloptr, nloptr.print.options, nloptr.get.default.options)
export(check.derivatives)

export(nl.grad, nl.jacobian)
export(nl.opts)
export(slsqp)
export(cobyla, bobyqa, newuoa)
export(direct, directL)
export(neldermead, sbplx)
export(lbfgs, tnewton)
export(mma)
export(varmetric)
export(mlsl)
export(crs2lm, isres)
export(stogo)
export(auglag)

## S3 and S4 methods
S3method(print, nloptr)
